streamlit
streamlit
opencv-python-headless
numpy
pillow

pyzbar
openpyxl
pandas
numpy
scikit-learn
plotly
textblob
streamlit-lottie
qrcode
opencv-python
Pillow
python-dateutil




